.mobileOnly {
  display: none;
}

.desktopOnly {
  display: flex;
}

.mobileMenuButton {
  display: none;
}

.header {
  touch-action: manipulation;
}

.header button,
.header a,
.header input {
  touch-action: manipulation;
}

@media (max-width: 768px) {
  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }

  .mobileMenuButton {
    display: flex;
  }
}
