.mobileOnly {
  display: none;
}

.desktopOnly {
  display: flex;
}

.header {
  touch-action: manipulation;
  padding-top: env(safe-area-inset-top, 0px);
}

.header button,
.header a,
.header input {
  touch-action: manipulation;
}

@media (max-width: 768px) {
  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }
}
