# Disable @scarf/scarf telemetry (pulled in by swagger-ui-react)
# See: https://github.com/scarf-sh/scarf-js#as-a-user-of-a-package-using-scarf-js-how-can-i-opt-out-of-analytics
SCARF_ANALYTICS=false
