services:
  postgres:
    image: ghcr.io/marcodejongh/boardsesh-dev-db:latest
    build:
      context: ./packages/db/docker
      dockerfile: Dockerfile.dev-db
    shm_size: '256mb'
    command: postgres -c max_connections=300 -c log_min_messages=warning
    volumes:
      - db_data:/var/lib/postgresql/pgdata
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: main
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5

  neon-proxy:
    image: ghcr.io/timowilhelm/local-neon-http-proxy:main
    environment:
      - PG_CONNECTION_STRING=postgres://postgres:password@postgres:5432/main
      - POSTGRES_DB=main
    ports:
      - '4444:4444'
    depends_on:
      postgres:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  db_data:
