.historyDivider {
  margin: 8px 0;
}

.queueColumn {
  display: flex;
  flex-direction: column;
}

.suggestedColumn {
  display: flex;
  flex-direction: column;
}

.loadMoreContainer {
  display: flex;
  flex-direction: column;
}

.noMoreSuggestions {
  text-align: center;
}
