.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backButton {
  flex: 0 0 auto;
}

.mobileActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.desktopActions {
  display: none;
}

.inQueueButton {
  color: #52c41a !important;
}

@media (min-width: 768px) {
  .desktopActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mobileActions {
    display: none;
  }
}
