.ascentStatusContainer {
  position: relative;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
}

.ascentIconRegular {
  position: absolute;
  left: 0;
}

.ascentIconMirrored {
  position: absolute;
  transform: scaleX(-1);
  left: 2px;
}
